* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#2C0F12, #6B1E23);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}

.container {
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px 60px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
    animation: fadeIn 2.5s ease forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    animation: glow 7s ease-in-out infinite alternate;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
    0% { text-shadow: 0 0 5px #fff, 0 0 10px #fff; }
    50% { text-shadow: 0 0 15px #8ec5fc, 0 0 30px #764ba2; }
    100% { text-shadow: 0 0 5px #fff, 0 0 10px #fff; }
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.my-image {
  width: 200px;
  height: auto;
  margin-bottom: .3in;
  animation: fadeIn 1s ease-in;
}

